{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-8 mt-4">
                <h3>Add Invoice</h3>
                {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
            </div>
        </div>
    </div>
{% endblock %}
